.container body {
   background-color: transparent;
   color: transparent;
 }

 h3 {
   background-color: transparent;
   color: black;
 }

 div {
   background-color: transparent;
   color: black;
 }
