<h2>Current Lease</h2>
<section>
<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Extend Lease</a></li>
    <li><a href="#">Terminate Lease</a></li>
  </ul>
</nav>

<article>
<p>Welcome Tenant! On this page, you are able to view your current lease.</p>
  <p> Click here <button type="button" onclick="alert('Fetching Lease Info!')">View Lease</button>

<p>If you wish to extend or terminate your lease please click on the links on the left side of the web page and follow the instructions. Your request will be reviewed </p>

</article>
</section>

<footer>
<p>Viking Property Management</p>
</footer>
