<div class="login" style="text-align: center">
  <div class="container">
    <h1 id="greet">Please login to continue</h1>
    <input type="text" placeholder="username">
    <br>
    <input type="password" placeholder="password">
    <br>
    <br>
    <a routerLink="/main-page" routerLinkActive="active"><button>Submit</button></a>
    <br>
    <br>
    <a routerLink="/create-user" routerLinkActive="active"><button>Create New User</button></a>
    <br>
    <br>
    <a routerLink="/password-lookup" routerLinkActive="active"><button>Reset Password</button></a>
  </div>
</div>
