<div class="container" style="padding-left: 20px;">
  <div class="pay">
    <h2>Make Payment</h2>
    <form>
      <label for="amountDue">Amount To Pay:</label>
      <input type="text" id="amountDue" name="amountDue" formControlName="amountDue" required>
      <br>
      <label for="start">Payment date:</label>
      <input type="date" id="start" name="trip-start" value="2021-10-20" min="2021-01-01" max="2022-12-31">
      <br>
      <label for="cardName">Name On Card:</label>
      <input type="text" id="cardName" name="cardName" formControlName="amountDue" required>
      <br>
      <label for="cardNum">Card Number:</label>
      <input type="text" id="cardNum" name="cardNum" formControlName="amountDue" required>
      <br>
      <label for="dateCard">Card Exp:</label>
      <input type="text" id="dateCard" name="dateCard" formControlName="amountDue" required>
      <br>
      <label for="cvv">CVV:</label>
      <input type="text" id="cvv" name="cvv" formControlName="amountDue" required>
      <br>
      <button>Pay Rent</button>
    </form>
  </div>
</div>

