<div>
  <h1>Manage Rentals</h1>
  <button (click)="onClickfun()">Click to view rentals</button>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>rentalFName</th>
              <th>rentalLastname</th>
              <th>Email</th>
              <th>ID</th>
          </tr>
      </thead>
      <tbody *ngIf="rentals.length>0;else noData">
          <tr *ngFor="let item of rentals"  id={{item.id}}>
              <td id="fname">{{item.fname}}</td>
              <td id ="lname">{{item.lname}}</td>
              <!-- <td id= "email">{{item.email}}</td> -->
              <td>{{item.id}}</td>
              <button class="btn btn-primary" id={{item.id}} (click)="deleteRentals(item.id)">Delete</button>
              <button class="btn btn-danger" id={{item.id}} (click)="editRental(item.id)">Edit</button>
              <!-- <td><button class="btn btn-danger" (click)="deleteOwner()">Delete</button></td> -->
          </tr>
      </tbody>
  </table>
  <ng-template #noData>
    <hr>
    <h5>There are no rentals to display</h5>
    </ng-template> 
</div>

<div class="add">
  <h2>Add Rentals</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="fname"><b>First name: </b></label><br>
    <input type="text" [(ngModel)]="model.fname" id="fname" name="fname" autocomplete="off" required #fname="ngModel">
    <br>
    <label for="lname"><b>Last name: </b></label><br>
    <input type="text"  [(ngModel)]="model.lname" id="lname" name="lname" autocomplete="off" required #lname="ngModel">
    <br>
    <label for="email"><b>Email: </b></label><br>
    <input type="text" [(ngModel)]= "model.email" id="email" name="email" autocomplete="off" required #email="ngModel">
    <br>
    <button>Submit</button>
  </form>
</div>

<div class="search">
  <h2>Search Rental</h2>
  <form (ngSubmit)="searchRental">
  <label for="rental"><b>Rental ID: </b></label><br>
  <input type="text" [(ngModel)]= "model.rental" id="rental" name="rental" autocomplete="off" required #rental="ngModel">
  <br>
  <button>Submit</button>
  </form>
</div>

<!-- <div class="remove">
  <h2>Remove Rental</h2>
  <form (ngSubmit)="deleteRental">
    <label for="fname"><b>First name: </b></label><br>
    <input type="text" [(ngModel)]="model.fname" id="fname" name="fname" autocomplete="off" required #fname="ngModel">
    <br>
    <label for="lname"><b>Last name: </b></label><br>
    <input type="text" [(ngModel)]="model.lname" id="lname" name="lname" autocomplete="off" required #lname="ngModel">
    <br>
    <button>remove</button>
  </form>
</div> -->

<!-- <div class="edit">
      <h2>Edit Rental Units</h2>
      <form (ngSubmit)="editRental">
        <label for="fname"><b>First name: </b></label><br>
        <input type="text" [(ngModel)]="model.fname" id="fname" name="fname" autocomplete="off" required #fname="ngModel">
        <br>
        <label for="lname"><b>Last name: </b></label><br>
        <input type="text"  [(ngModel)]="model.lname" id="lname" name="lname" autocomplete="off" required #lname="ngModel">
        <br>
        <label for="email"><b>Email: </b></label><br>
        <input type="text" [(ngModel)]= "model.email" id="email" name="email" autocomplete="off" required #email="ngModel">
        <br>
        <button>Submit</button>
      </form>
</div> -->



