     <div>
        <h1>Manage Owners</h1>
        <button (click)="clickHandle()">Click to view rentals</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>OwnerFName</th>
                    <th>OwnerLastname</th>
                    <th>Email</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody *ngIf="arr.length>0;else noData">
                <tr *ngFor="let item of arr"  id={{item.id}}>
                    <td id="fname">{{item.fname}}</td>
                    <td id ="lname">{{item.lname}}</td>
                    <td id= "email" {{item.email}}>{{item.email}}</td>
                    <td>{{item.id}}</td>
                    <button class="btn btn-primary" id={{item.id}} onclick=removeOwner(this.id)>Delete</button>
                    <button class="btn btn-danger"(click)="ownerEdit()">Edit</button>
                    <!-- <td><button class="btn btn-danger" (click)="deleteOwner()">Delete</button></td> -->
                </tr>
            </tbody>
        </table>
        <ng-template #noData>
          <hr>
          <h5>There are no owners to display</h5>
          </ng-template> 
    </div>
  

      

      <!-- <div class="edit">
        <h2>Search and Edit an owner</h2>
        <form (ngSubmit)="ownerEdit()">
        <label for="fname"><b>First name: </b></label><br>
        <input type="text" [(ngModel)]="model.fname" id="first" name="fname" autocomplete="off" required #fname="ngModel">
        <br>
        <label for="lname"><b>Last name: </b></label><br>
        <input type="text" [(ngModel)]="model.lname" id="last" name="lname" autocomplete="off" required #lname="ngModel">
        <br> -->
        <!-- <button>edit</button>
       </form>
      </div> --> -->
    

<div class="add">
        <h2>Add Owner</h2>
        <form (ngSubmit)="ownerSubmit()">
          <label for="fname"><b>First name: </b></label><br>
          <input type="text" [(ngModel)]="model.fname" id="fname" name="fname" autocomplete="off" required #fname="ngModel">
          <br>
          <label for="lname"><b>Last name: </b></label><br>
          <input type="text"  [(ngModel)]="model.lname" id="lname" name="lname" autocomplete="off" required #lname="ngModel">
          <br>
          <label for="email"><b>Email: </b></label><br>
          <input type="text" [(ngModel)]= "model.email" id="email" name="email" autocomplete="off" required #email="ngModel">
          <br>
          <button>Submit</button>
        </form>
      </div>

      <!-- <div class="remove">
        <h2>Remove an owner</h2>
        <form (ngSubmit)="ownerDelete()">
        <label for="fname"><b>First name: </b></label><br>
        <input type="text" [(ngModel)]="model.fname" id="fname" name="fname" autocomplete="off" required #fname="ngModel">
        <br>
        <label for="lname"><b>Last name: </b></label><br>
        <input type="text" [(ngModel)]="model.lname" id="lname" name="lname" autocomplete="off" required #lname="ngModel">
        <br>
        <button>remove</button>
        </form>
      </div> -->