<body>
    <div class="container">

      <div class="view">
        <h2>View all Tenants</h2>
        <button>Click to view rentals</button>
      </div>
      <div class="add">
        <h2>Add Tenants</h2>
        <form>
          <label for="fname"><b>First name: </b></label><br>
          <input type="text" id="fname" name="fname" required>
          <br>
          <label for="lname"><b>Last name: </b></label><br>
          <input type="text" id="lname" name="lname" autocomplete="off" required>
          <br>
          <label for="email"><b>Email: </b></label><br>
          <input type="text" id="email" autocomplete="off" required>
          <br>
          <button>Submit</button>
        </form>
      </div>

      <div class="search">
        <h2>Search Tenant</h2>
        <form>
        <label for="fname"><b>First name: </b></label><br>
        <input type="text" id="fname" name="fname" autocomplete="off" required>
        <br>
        <label for="lname"><b>Last name: </b></label><br>
        <input type="text" id="lname" name="lname" autocomplete="off" required>
        <br>
        <button>Submit</button>
        </form>
      </div>

      <div class="remove">
        <h2>Remove Tenant</h2>
        <form>
            <label for="fname"><b>First name: </b></label><br>
            <input type="text" id="fname" name="fname" autocomplete="off" required>
            <br>
            <label for="lname"><b>Last name: </b></label><br>
            <input type="text" id="lname" name="lname" autocomplete="off" required>
            <br>
            <button>Submit</button>
        </form>
      </div>

      <div class="edit">
        <h2>Edit Tenant</h2>
        <form>
            <label for="fname"><b>First name: </b></label><br>
            <input type="text" id="fname" name="fname" autocomplete="off" required>
            <br>
            <label for="lname"><b>Last name: </b></label><br>
            <input type="text" id="lname" name="lname" autocomplete="off" required>
            <br>
            <label for="email"><b>Email: </b></label><br>
            <input type="text" id="emai" autocomplete="off" required>
            <br>
            <button>Submit</button>
        </form>
      </div>

      <div class="create">
        <h2>Create Tenant Profile</h2>
        <form>
        <label for="fname"><b>First name: </b></label><br>
        <input type="text" id="fname" name="fname" autocomplete="off" required>
        <br>
        <label for="lname"><b>Last name: </b></label><br>
        <input type="text" id="lname" name="lname" autocomplete="off" required>
        <br>
        <label for="email"><b>Email: </b></label><br>
        <input type="text" id="emai" autocomplete="off" required>
        <br>
        <button>Submit</button>
        </form>
      </div>
    </div>
</body>
